<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
	<add key="shared-library" value="https://pkgs.dev.azure.com/AssetHealthInsights/_packaging/AssetHealthInsights/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <shared-library>
      <add key="Username" value="NeO_generate_token" />
      <add key="ClearTextPassword" value="vsljhrn4i7746g5tzisbzkdml3diijfhu7bwj7hbbqnlowccad5a" />
    </shared-library>
  </packageSourceCredentials>
</configuration>